<h1>{{"Listado de ubicaciones" | uppercase}}</h1>
<div class="container d-flex justify-content-center flex-wrap mb-5">
  <app-card-template *ngFor="let location of locations;"
                     [cardTitle]="location.name"
                     [cardText]="location.type"
                     [cardDesc1]="'Dimensión: ' + location.dimension"
                     [cardImgClasses]="['d-none']"
                     [routerLink]="['../detalles/', location.id]">
  </app-card-template>
</div>
<div class="d-flex justify-content-center">
  <app-pagination
    (pageChanged)="changePage($event)"
    [pageInfo]="info">
  </app-pagination>
</div>
