.btn-form {
  background-color: var(--main-color);
  width: 100%;
  height: 38px;
  border: none;
  border-radius: 9px;
  color: var(--almost-white);
  font-weight: bold;
}

.btn-form:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  color: var(--accent-color);
}

.disabled {
  background-color: var(--disabled-color);
  color: var(--disabled-text-color);
  cursor: not-allowed;
}

.disabled:hover {
  background-color: var(--disabled-color);
  color: var(--disabled-text-color);
  cursor: not-allowed;
}
