<div *ngIf="location"
     class="container bg-light mt-3 mb-3">
  <div class="row p-2">
    <div class="col-md-6 col-12">
      <h3>Información de la ubicación</h3>
      <hr>
      <p><strong>Nombre: </strong>{{location.name}}</p>
      <p><strong>Tipo: </strong>{{location.type}}</p>
      <p><strong>Dimensión: </strong>{{location.dimension}}</p>
    </div>
    <div *ngIf="characters"
         class="col-md-6 col-12">
      <h3>Personajes en esta ubicación</h3>
      <hr>
      <div class="row">
        <div class="col-md-6 col-12">
          <p *ngFor="let character of characters"
             class="mb-0 table-link char-name"
             [routerLink]="['../../../personajes/detalles', character.id]">
            {{character.name}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
