/* block hecho con propósito de debugging
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/

:root {
  --main-color: #158B44;
  --secondary-color: #8BC546;
  --background-color: #333;
  --almost-white: #DDD;
  --almost-black: #222;
  --accent-color: #14A1B7;
  --disabled-color: #AAA;
  --disabled-text-color: #666;
}

body {
  background-color: var(--almost-white);
}

label {
  font-size: 14px;
}

.shine-text-animation {
  animation: shine 2s ease-in-out infinite;
}

@keyframes shine {
  0% {
    text-shadow: 0 0 5px var(--almost-white);
  }
  50% {
    text-shadow: 0 0 10px var(--secondary-color);
  }
  100% {
    text-shadow: 0 0 5px var(--almost-white);
  }
}

.table-link {
  cursor: pointer;
}

.char-name:hover {
  color: var(--main-color);
}
