<h1>{{"Listado de personajes" | uppercase}}</h1>
<div class="container d-flex justify-content-center flex-wrap mb-5">
  <app-card-template *ngFor="let character of characters;"
                     [cardImgSrc]="character.image"
                     [cardTitle]="character.name"
                     [cardImgAlt]="character.name"
                     [cardImgTitle]="character.name"
                     [routerLink]="['../detalles/', character.id]">
  </app-card-template>
</div>
<div class="d-flex justify-content-center">
  <app-pagination
    [pageInfo]="info"
    (pageChanged)="changePage($event)">
  </app-pagination>
</div>
